Some very basic (off the top of my head) requirements. A formal requirements document can hopefully derive from this later...

=====CORE/SYSTEM======
Must be capable of scheduling the execution of subsystem module routines

Must be capable of causing the system to enter a low power sleep state

Must be able to prioritize the execution of one module's routine over an other

Must be able to execute commands sent by the ground station

=====POWER SYSTEM=====
Must be able to monitor batteries

Must be able to monitor Solar Panels

Must be able to monitor power usage
  -> Suggestion: What if we keep some sort of array or other data structure that
     stores power fluctuation over time. Then, we just need to iterate through the
     array and perform calculations like that. 

====TIME SYSTEM======
Must be able to accurately measure the change in time

Must be able to determin the time at ground station

Must be able to adjust the time

====COMM SYSTEM====
Must be able to recieve transmitted data

Must be able to verify that recieved data

Must be able to transmit data


====AOCS SYSTEM====
Must be able to determine position of the satellite

Must be able to determine orientation of the satellite

Must be able to determine the orbit of the satellite


 
   /\,,,/\
  ( O w O )/ ____________________

     NYAN
       NYAN
         NYAN 







